<%- contentFor('content') %>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Color List</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Color List</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title"><%= title %></h3>
                        <a href="/color-add"  class="btn btn-primary"  style="float:right">Color Add</a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="color_table" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Sl No</th>
                            <th>Color</th>
                            <th>Color Code</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for(var i=0; i < colors.length; i++) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= colors[i].color %></td>
                                <td><%= colors[i].color_code %></td>
                                <td><%= colors[i].description %></td>
                                <td><% if(colors[i].status == 1){ %> Active <% } else { %> Deactive <% } %></td>
                                <td><a href="color-edit/<%= colors[i].id %>"><i class="fas fa-edit"></i></a> <a class="delete_color" data-id="<%= colors[i].id %>"><i class="fas fa-trash"></i></a></td>
                            </tr>
                        <% } %>
                        </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
            </div>
        </div>
    </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>