<%- contentFor('content') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product Edit</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Product Edit</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
     <section class="content">
         <form action="/product-edit/<%= up_id %>" name="product_edit" id="product_edit" method="post" enctype="multipart/form-data">
            <% for(var j=0; j < product.length; j++) { %>
          <%if (locals.message) { %>
            <div class="alert <%= messageClass %>" role="alert">
              <%= message %>
          </div>
          <% } %>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Product Details</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                    <label for="main_category">Select Main Category</label>
                    <select id="main_category" name="main_category" class="form-control custom-select">
                        <option value="">select main category</option>
                        <% for(var i=0; i < m_cat.length; i++) { %>
                            <%  if(m_cat[i].id == product[j].main_id) { %>
                                <option value="<%= m_cat[i].id %>" selected><%= m_cat[i].name %></option>
                            <% } else { %>
                                <option value="<%= m_cat[i].id %>"><%= m_cat[i].name %></option>
                            <% } %>
                        <% } %>       
                    </select>
                </div>
                <input type="hidden" name="subid" id="subid" value="<%= product[j].main_id %>">
                <div class="form-group">
                    <label for="sub_category">Select Sub Category</label>
                    <select id="sub_category" name="sub_category" class="form-control custom-select">
                       <option value="">select Sub category</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="product_name">Product Name</label>
                  <input type="text" name="product_name" id="product_name" class="form-control" placeholder="Product Name" value="<%= product[j].p_name %>" onkeypress="return isalpha(event);">
                </div>
                <div class="form-group">
                  <label for="product_price">Product Price</label>
                  <input type="text" name="product_price" id="product_price" class="form-control" placeholder="Product Price" value="<%= product[j].p_price %>" onkeypress="return decimal_digit(event);">
                </div>
                <div class="form-group">
                  <label for="dis_price">Orignal Price</label>
                  <input type="text" name="dis_price" id="dis_price" class="form-control" placeholder="Discount Price" value="<%= product[j].dis_price %>" onkeypress="return decimal_digit(event);">
                </div>
                <div class="form-group">
                  <label for="product_quntity">Product Quntity</label>
                  <input type="text" name="product_quntity" id="product_quntity" class="form-control" placeholder="Product Quntity" value="<%= product[j].p_quntity %>" onkeypress="return decimal_digit(event);">
                </div>
                <div class="form-group">
                  <label for="pro_size">Product Size</label>
                  <select id="pro_size" name="pro_size[]" class="form-control custom-select" multiple="multiple" required>
                      <% var s_ids_data = product[j].size_ids %>
                    <% for(var i=0; i < size.length; i++) { %>
                        <% if(s_ids_data.includes(size[i].id)){ %>
                            <option value="<%= size[i].id %>" selected><%= size[i].size %></option>
                        <% } else { %>  
                            <option value="<%= size[i].id %>"><%= size[i].size %></option>
                        <% } %>
                    <% } %>       
                </select>
                </div>
                <div class="form-group">
                  <label for="pro_color">Product Color</label>
                  <select id="pro_color" name="pro_color[]" class="form-control custom-select" multiple="multiple" required>
                    <% var color_ids_data = product[j].color_ids %>
                    <% for(var i=0; i < color.length; i++) { %>
                        <% if(color_ids_data.includes(color[i].id)){ %>
                            <option value="<%= color[i].id %>" selected><%= color[i].color %></option>
                        <% } else { %>
                            <option value="<%= color[i].id %>"><%= color[i].color %></option>
                        <% } %>
                    <% } %>       
                </select>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="form-control" placeholder="description" rows="4"><%= product[j].description %></textarea>
                </div>
                <input type="hidden" name="pro_img" id="pro_img" value="<%= product[j].p_image %>">
                <div class="form-group">
                    <label for="product_image">Product Image</label>
                    <input type="file" id="product_image" name="product_image" class="form-control" accept="image/*">
                </div>
                <a href="/product-list" class="btn btn-secondary">Back</a>
                <input type="submit" value="Submit" class="btn btn-success float-right">
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <% } %>
     </form>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->