<%- contentFor('content') %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Size Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin">Home</a></li>
              <li class="breadcrumb-item active">Size Add</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

     <!-- Main content -->
     <section class="content">
         <form action="/size-add" name="size_add" id="size_add" method="post">
          <%if (locals.message) { %>
            <div class="alert <%= messageClass %>" role="alert">
              <%= message %>
          </div>
          <% } %>
        <div class="row">
          <div class="col-md-6">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Size Details</h3>
  
                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                </div>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="size">Size</label>
                  <input type="text" name="size" id="size" class="form-control" placeholder="Size" value="<%= locals.size %>">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="form-control" placeholder="description" rows="4"><%= locals.description %></textarea>
                </div>
                <a href="/size-list" class="btn btn-secondary">Back</a>
                <input type="submit" value="Submit" class="btn btn-success float-right">
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
     </form>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
  