<%- contentFor('user_content') %>
<section class="home-section home-fade home-full-height" id="home">
    <div class="hero-slider">
      <ul class="slides">
        <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;/assets/images/shop/slider1.png&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1">This is FINER THREADS</div>
              <div class="font-alt mb-30 titan-title-size-4"> Summer 2021</div>
              <div class="font-alt mb-40 titan-title-size-1">Your online fashion destination</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
            </div>
          </div>
        </li>
        <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;/assets/images/shop/slider3.png&quot;);">
          <div class="titan-caption">
            <div class="caption-content">
              <div class="font-alt mb-30 titan-title-size-1"> This is FINER THREADS</div>
              <div class="font-alt mb-40 titan-title-size-4">Exclusive products</div><a class="section-scroll btn btn-border-w btn-round" href="#latest">Learn More</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <div class="main">
    <section class="module-small">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Latest in clothing</h2>
          </div>
        </div>
        <div class="row multi-columns-row">
          <h2 class="module-title font-alt">Latest in Men</h2>
          <% for(var i=0; i < product_list.length; i++) { %>
            <% if(product_list[i].main_id == 1){ %>
              <a href="/category-product/<%= product_list[i].id %>">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="uploads/<%= product_list[i].c_image %>" class="pro_img" alt="<%= product_list[i].c_image %>"/>
                </div>
                <h4 class="shop-item-title font-alt"><a href="#"><%= product_list[i].c_name %></a></h4>
              </div>
            </div>
            </a>
          <% } %>
          <% } %>
        </div>
        <div class="row multi-columns-row">
          <h2 class="module-title font-alt">Latest in Womwn</h2>
          <% for(var i=0; i < product_list.length; i++) { %>
            <% if(product_list[i].main_id == 2){ %>
              <a href="/category-product/<%= product_list[i].id %>">
            <div class="col-sm-6 col-md-3 col-lg-3">
              <div class="shop-item">
                <div class="shop-item-image"><img src="uploads/<%= product_list[i].c_image %>" class="pro_img" alt="<%= product_list[i].c_image %>"/>
                </div>
                <h4 class="shop-item-title font-alt"><a href="#"><%= product_list[i].c_name %></a></h4>
              </div>
            </div>
          </a>
          <% } %>
          <% } %>
        </div>
        <div class="row multi-columns-row">
          <h2 class="module-title font-alt">Latest in Children</h2>
          <% for(var i=0; i < product_list.length; i++) { %>
            <% if(product_list[i].main_id == 3){ %>
              <a href="/category-product/<%= product_list[i].id %>">
              <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="shop-item">
                  <div class="shop-item-image"><img src="uploads/<%= product_list[i].c_image %>" class="pro_img" alt="<%= product_list[i].c_image %>"/>
                  </div>
                  <h4 class="shop-item-title font-alt"><a href="#"><%= product_list[i].c_name %></a></h4>
                </div>
              </div>
            </a>
          <% } %>
          <% } %>
        </div>
        
      </div>
    </section>
    <section class="module module-video bg-dark-30" data-background="">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt mb-0">Be inspired. Get ahead of trends.</h2>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
    <section class="module" id="news">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">Our News</h2>
          </div>
        </div>
        <div class="row multi-columns-row post-columns wo-border">
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">Receipt of the new collection</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">Sale of summer season</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">New lookbook</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">Receipt of the new collection</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">Sale of summer season</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4">
            <div class="post mb-40">
              <div class="post-header font-alt">
                <h2 class="post-title"><a href="#">New lookbook</a></h2>
              </div>
              <div class="post-entry">
                <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
              </div>
              <div class="post-more"><a class="more-link" href="#">Read more</a></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="divider-w">
   <!--<section class="module-small">
      <div class="container">
        <div class="row client">
          <div class="owl-carousel text-center" data-items="6" data-pagination="false" data-navigation="false">
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-1.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-2.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-3.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-4.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-5.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-1.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-2.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-3.png" alt="Client Logo"/></div>
              </div>
            </div>
            <div class="owl-item">
              <div class="col-sm-12">
                <div class="client-logo"><img src="assets/images/client-logo-dark-4.png" alt="Client Logo"/></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> --> 
