<%- contentFor('user_content') %>
<style>
  .login-main {
    border: 2px solid #e8d7d7;
    border-radius: 20px;
    padding: 10px 10px 0px 13px;
    }
</style>
<div class="main">
    <section class="module bg-dark-30" data-background="assets/images/section-4.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h1 class="module-title font-alt mb-0">Register</h1>
          </div>
        </div>
      </div>
    </section>
    <section class="module">
      <div class="container">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-3 mb-sm-40 login-main">
            <h4 class="font-alt text-center">Register</h4>
            <hr class="divider-w mb-10">

            <form class="form" method="post" name="register" id="register" action="/register">
                <%if (locals.message) { %>
                    <div class="alert <%= messageClass %>" role="alert">
                      <%= message %>
                  </div>
                  <% } %>
                  <div class="form-group">
                    <input class="form-control" id="first_name" type="text" name="first_name" placeholder="First Name" value="<%= locals.first_name %>" />
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="last_name" type="text" name="last_name" placeholder="Last Name"  value="<%= locals.last_name %>"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="email" type="text" name="email" placeholder="Email"  value="<%= locals.email %>"/>
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="password" type="password" name="password" placeholder="Password" />
                  </div>
                  <div class="form-group">
                    <input class="form-control" id="re_password" type="password" name="re_password" placeholder="Re-enter Password"/>
                  </div>
                  <div class="form-group">
                   <center> <button class="btn btn-block btn-round btn-b">Register</button> </center>
                  </div>
              <div class="form-group"><a href="/login">Alrady have a account?</a></div>
            </form>
          </div>
        </div>
      </div>
    </section>

